@model ChangePasswordViewModel
@{
    ViewBag.Title = "Đổi mật khẩu";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>
        @ViewBag.Title
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Bảng điều khiển</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                    <form action="@Url.Action("ChangePassword")" class="js-customer-form" method="post">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <section>

                            <div class="form-group row align-items-center ">
                                <label class="col-md-3 col-form-label required">
                                    @Html.DisplayNameFor(m=> m.OldPassword)
                                </label>
                                <div class="col-md-7">
                                    @Html.PasswordFor(m => Model.OldPassword, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => Model.OldPassword, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-2 form-control-comment"></div>
                            </div>

                            <div class="form-group row align-items-center ">
                                <label class="col-md-3 col-form-label required">
                                    @Html.DisplayNameFor(m => m.NewPassword)
                                </label>
                                <div class="col-md-7">
                                    @Html.PasswordFor(m => Model.NewPassword, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => Model.NewPassword, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-2 form-control-comment"></div>
                            </div>

                            <div class="form-group row align-items-center ">
                                <label class="col-md-3 col-form-label required">
                                    @Html.DisplayNameFor(m => m.ConfirmPassword)
                                </label>
                                <div class="col-md-7">
                                    @Html.PasswordFor(m => Model.ConfirmPassword, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => Model.ConfirmPassword, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-2 form-control-comment"></div>
                            </div>
                        </section>
                        <footer class="form-footer text-center clearfix">
                            <button class="btn btn-primary form-control-submit" type="submit">
                                Đổi Mật Khẩu
                            </button>
                            <a href="@Url.Action("Index","Dashboard")" class="btn bt-default">Trở về</a>
                        </footer>
                    </form>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
