@model CauHoiLiet
@{
    ViewBag.Title = "Thêm Câu Hỏi Liệt";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>
        @ViewBag.Title
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Bảng Điều Khiển</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                    @using (Html.BeginForm("Create", "CauHoiLiet", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            @Html.LabelFor(model => model.MaCauHoi, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.MaCauHoi, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.MaCauHoi, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.NoiDung, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.NoiDung, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.NoiDung, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Hinh, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-6">
                                <input type="file" name="file" accept="image/x-png,image/gif,image/jpeg" />
                                @Html.ValidationMessageFor(model => model.Hinh, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <td class="text-center">Đáp án số</td>
                                            <td>Nội dung</td>
                                            <td class="text-center">Đáp án đúng</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            DapAnCauHoiLiet dapAn1 = new DapAnCauHoiLiet() { SoThuTu = 1 };
                                        }
                                        @Html.HiddenFor(m => dapAn1.SoThuTu)
                                        <tr>
                                            <td class="text-center col-sm-1"><span>1</span></td>
                                            <td>
                                                @Html.TextBoxFor(m => dapAn1.NoiDung, new { @class = "form-control" })
                                            </td>
                                            <td class="text-center col-sm-1">
                                                @Html.CheckBoxFor(m => dapAn1.DapAnDung)
                                            </td>
                                        </tr>
                                        @{
                                            DapAnCauHoiLiet dapAn2 = new DapAnCauHoiLiet() { SoThuTu = 2 };
                                        }
                                        @Html.HiddenFor(m => dapAn2.SoThuTu)
                                        <tr>
                                            <td class="text-center col-sm-1"><span>2</span></td>
                                            <td>
                                                @Html.TextBoxFor(m => dapAn2.NoiDung, new { @class = "form-control" })
                                            </td>
                                            <td class="text-center col-sm-1">
                                                @Html.CheckBoxFor(m => dapAn2.DapAnDung)
                                            </td>
                                        </tr>
                                        @{
                                            DapAnCauHoiLiet dapAn3 = new DapAnCauHoiLiet() { SoThuTu = 3 };
                                        }
                                        @Html.HiddenFor(m => dapAn3.SoThuTu)
                                        <tr>
                                            <td class="text-center col-sm-1"><span>3</span></td>
                                            <td>
                                                @Html.TextBoxFor(m => dapAn3.NoiDung, new { @class = "form-control" })
                                            </td>
                                            <td class="text-center col-sm-1">
                                                @Html.CheckBoxFor(m => dapAn3.DapAnDung)
                                            </td>
                                        </tr>
                                        @{
                                            DapAnCauHoiLiet dapAn4 = new DapAnCauHoiLiet() { SoThuTu = 4 };
                                        }
                                        @Html.HiddenFor(m => dapAn4.SoThuTu)
                                        <tr>
                                            <td class="text-center col-sm-1"><span>4</span></td>
                                            <td>
                                                @Html.TextBoxFor(m => dapAn4.NoiDung, new { @class = "form-control" })
                                            </td>
                                            <td class="text-center col-sm-1">
                                                @Html.CheckBoxFor(m => dapAn4.DapAnDung)
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-6">
                                <input type="submit" value="Thêm Mới" class="btn btn-success" />
                                @Html.ActionLink("Trở về", "Index", null, new { @class = "btn btn-default" })
                            </div>
                        </div>
                    </div>
                    }
                </div>
                <!-- /.box-body -->
            </div>            
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

