@model List<DaoTaoLaiXe.Models.CauHoi>
@{

}

@section styles{
    <link href="~/Content/quizz_008.css" rel="stylesheet" type="text/css" />

}

@section Scripts{
    <script>
        $(function(){
            $(document).on("click", ".listAnswer li", function () {
                if ($(this).find("input[type=checkbox]").length > 0) {
                    if ($(this).find("input").is(":checked") == false) {
                        $(this).find("input").prop('checked', true);
                        $(this).attr("style", "background:#696969");
                    }
                    else {
                        $(this).find("input").prop('checked', false);
                        $(this).removeAttr("style");
                    }
                }
                else if ($(this).find("input[type=radio]").length > 0) {
                    if ($(this).find("input").is(":checked") == false) {
                        $(this).closest("form").find("li").removeAttr("style");
                        $(this).find("input").prop('checked', true);;
                        $(this).attr("style", "background:#696969");
                    }
                    else {
                        $(this).find("input").prop('checked', false);
                        $(this).removeAttr("style");
                    }
                }
            });
        });
    </script>    
}

<div class="row">
    <div class="col-md-8 col-md-offset-2 the-article-body" >
        <h1 class="text-center well text-primary">TRẮC NGHIỆM ĐÀO TẠO LÁI XE @Model.Count</h1>

        @foreach (var cauhoi in Model)
        {
            if (cauhoi.DapAns == null || cauhoi.DapAns.Count == 0)
            {
                continue;
            }
            <table class="picture" align="center">
                <tbody>
                    <tr>
                        <td class="pCaption caption">
                            <form method="post" action="@Url.Action("Answer",new { questionId = cauhoi.MaCauHoi })">
                                <h3><b>Câu @cauhoi.MaCauHoi:</b> @cauhoi.NoiDung?</h3>
                                @if (!string.IsNullOrEmpty(cauhoi.Hinh))
                                {
                                    <div class="zad-inimage-wrapper text-center" style="overflow: hidden;">
                                        <img src="~/Content/images/@cauhoi.Hinh" alt="Hình câu hỏi @cauhoi.MaCauHoi">
                                    </div>
                                }
                                @if (cauhoi.DapAns != null && cauhoi.DapAns.Count(x => x.DapAnDung) <= 1)
                                {
                                    <ul class="listAnswer">
                                        @foreach (var dapan in cauhoi.DapAns.OrderBy(x => x.SoThuTu))
                                        {
                                            <li> <input type="radio" name="selectAnswer" class="selectAnswer" value="@dapan.SoThuTu" /> @dapan.NoiDung</li>
                                        }
                                    </ul>
                                }
                                else
                                {
                                    <ul class="listAnswer">
                                        @foreach (var dapan in cauhoi.DapAns.OrderBy(x => x.SoThuTu))
                                        {
                                            <li> <input type="checkbox" name="selectAnswer" class="selectAnswer" value="@dapan.SoThuTu" /> @dapan.NoiDung</li>
                                        }
                                    </ul>
                                }
                            </form>
                        </td>
                    </tr>

                </tbody>
            </table>
        }
    </div>
    <div id="summary" >
        <h2><a href="#" class="btn btn-default">BẠN ĐÃ TRẢ LỜI <br /> <b><span id="countAnswer">5</span>/30 câu</b></a></h2>
        <h2><a href="#" class="btn btn-primary">XEM KẾT QUẢ</a></h2>
    </div>
</div>