@using DaoTaoLaiXe.Models;
@model List<CauHoi>
@{
    Dictionary<int, List<int>> cauHoiDapAnDung = ViewBag.cauHoiDapAnDung;
    ViewBag.Title = "600 Câu Hỏi Trắc Nghiệm Sát Hạch Lái Xe Kèm Đáp Án";
}

@section styles{
    <link href="~/Content/quizz_008.css?v=2" rel="stylesheet" type="text/css" />
    <meta name="description" content="600 câu hỏi ôn tập sat hạch lái xe bằng hình thức trắc nghiệm có kèm đáp án được cập nhật thường xuyên và chính xác theo đúng quy chuẩn của Bộ Giao Thông Vận Tải. " />
}

@section meta{
    <meta name="description" content="" />
}

<div class="row">
    <div class="col-md-8 col-md-offset-2 the-article-body">
        <h1 class="text-center well text-primary">600 CÂU HỎI ÔN TẬP KÈM ĐÁP ÁN</h1>
        @foreach (var cauhoi in Model)
        {
            <table class="picture question" align="center">
                <tbody>
                    <tr>
                        <td class="pCaption caption">
                            <h3><b>Câu @cauhoi.MaCauHoi:</b> @cauhoi.NoiDung</h3>
                            @if (!string.IsNullOrEmpty(cauhoi.Hinh))
                            {
                                <div class="zad-inimage-wrapper text-center" style="overflow: hidden;">
                                    <img src="~/Content/images/@cauhoi.Hinh" alt="Hình câu hỏi @cauhoi.MaCauHoi">
                                </div>
                            }

                            <ul class="listAnswer">
                                @foreach (var dapan in cauhoi.DapAns.OrderBy(x => x.SoThuTu))
                                {
                                    <li class="@(dapan.DapAnDung == true ? "success" : "")"> <span class="contentAnswer">@dapan.NoiDung</span></li>
                                }
                            </ul>

                        </td>
                    </tr>

                </tbody>
            </table>
        }
    </div>

</div>